<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem 
                id="pragtech_tailoring_menu_root"
                name="Tailoring Management"
		web_icon="pragtech_tailoring_management/static/description/icon.png"
                sequence="1"/>

        <menuitem
                id="sale_order_inherit_menu"
                name="Tailoring Order"
                action="sale.action_orders"
                groups = "pragtech_tailoring_management.group_admin"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                sequence="1"/>

        <menuitem
                id="hr_employee_inherit_menu"
                name="Employee"
                groups = "pragtech_tailoring_management.group_admin"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                sequence="2"/>

                <menuitem
                        id="hr_employee_admin_inherit_menu"
                        name="Admin"
                        action="action_employee_admin"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.hr_employee_inherit_menu"
                        sequence="1"/>
                <menuitem
                        id="hr_employee_tailor_inherit_menu"
                        name="Tailor"
                        action="action_employee_tailor"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.hr_employee_inherit_menu"
                        sequence="2"/>
                <menuitem
                        id="hr_employee_driver_inherit_menu"
                        name="Driver"
                        action="action_employee_driver"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.hr_employee_inherit_menu"
                        sequence="3"/>

                <!-- .......products_menu_root start......... -->
        <menuitem
                id="products_menu_root"
                name="Products"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                sequence="3"/>

                <menuitem
                        id="product_inherit_menu"
                        name="Products"
                        action="action_product_list"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.products_menu_root"
                        sequence="1"/>

                <menuitem
                        id="product_variants_inherit_menu"
                        name="Variants"
                        action="action_product_variants"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.products_menu_root"
                        sequence="2"/>

                <menuitem
                        id="product_category_inherit_menu"
                        name="Categories"
                        action="action_product_public_category_inherit"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.products_menu_root"
                        sequence="3"/>

                <menuitem
                        id="product_attribute_inherit_menu"
                        name="Attributes"
                        action="product.attribute_action"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.products_menu_root"
                        sequence="4"/>
                <!-- .......products_menu_root end......... -->

        <menuitem
                id="tailor_menu_root"
                name="Assigned Works"
                action="pragtech_tailoring_management.tailor_action"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                sequence="4"/>

        <menuitem
                id="customer_measurement_menu"
                name="Customer Measurement"
                action="tailor_customer_measurment_action"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                groups = "pragtech_tailoring_management.group_admin"
                sequence="5"/>


                <!-- .......invoice_menu_root start......... -->
        <menuitem
                id="invoice_menu_root"
                name="Invoice and Payments"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                sequence="6"/>

                <menuitem id="menu_tailoring_invoices"
                        name="Invoices"
                        action="account.action_move_out_invoice_type"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.invoice_menu_root"
                        sequence="1"/>

                <menuitem 
                        id="menu_tailoring_payments"
                        action="account.action_account_payments"
                        groups = "pragtech_tailoring_management.group_admin"
                        parent="pragtech_tailoring_management.invoice_menu_root"
                        sequence="2"/>
                <!-- .......invoice_menu_root end......... -->

        <menuitem
                id="customers_menu_root"
                name="Contacts"
                action="action_customer"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                groups="pragtech_tailoring_management.group_admin"
                sequence="7"/>

                <!-- .......configuration_menu_root start......... -->
        <menuitem
                id="configuration_menu_root"
                name="Configuration"
                parent="pragtech_tailoring_management.pragtech_tailoring_menu_root"
                sequence="8"/>

                <menuitem
                        id="cloth_type_menu"
                        name="Cloth Type"
                        action="pragtech_tailoring_management.cloth_action"
                        parent="pragtech_tailoring_management.configuration_menu_root"
        
                        sequence="1"/>

                <menuitem
                        id="measurement_menu"
                        name="Measurement"
                        action="pragtech_tailoring_management.tailor_measurment_action"
                        parent="pragtech_tailoring_management.configuration_menu_root"
                        sequence="2"/>

                <menuitem
                        id="fabrics_menu"
                        name="Fabrics"
                        action="pragtech_tailoring_management.fabrics_action"
                        parent="pragtech_tailoring_management.configuration_menu_root"
                        sequence="3"/>

                <menuitem 
                        id="Delivery_trip_menu"
                        name="Delivery"
                        parent="pragtech_tailoring_management.configuration_menu_root"
                        groups = "pragtech_tailoring_management.group_admin,pragtech_tailoring_management.group_driver"
                        sequence="4"
                        action="pragtech_tailoring_management.action_custom_stock_picking"/>

                <menuitem
                        id="feedback_menu"
                        name="Feedback"
                        action="pragtech_tailoring_management.feedback_action"
                        parent="pragtech_tailoring_management.configuration_menu_root"
                        sequence="5" />
                <!-- .......configuration_menu_root end......... -->
    </data>
</odoo>