@media only screen and (min-width: 768px) {
    .o_form_view .o_form_statusbar.sh_helpdesk_from_view_statusbar .o_statusbar_buttons {
        width: 60%;
        flex-wrap: wrap;
    }

    .o_form_view .o_form_statusbar.sh_helpdesk_from_view_statusbar .o_statusbar_buttons button.btn {
        white-space: nowrap;
    }

    .o_form_view .o_form_statusbar.sh_helpdesk_from_view_statusbar [name="timer_start"].o_field_timer_start_field {
        width: 10%;
    }

    .o_form_view .o_form_statusbar.sh_helpdesk_from_view_statusbar [name="stage_id"].o_field_statusbar {
        width: 30%;
    }
}