<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem name="RMA" id="main_return_machine_repair_support_main" groups="machine_repair_management.group_machine_repair_user"
        web_icon="website_request_return_rma_odoo,static/description/icon.png"/>
        <menuitem name="Repairs" id="menu_return_machine_repair_support" parent="main_return_machine_repair_support_main" sequence="1"/>

        <menuitem name="Products" id="menu_return_machine_product_main" parent="main_return_machine_repair_support_main" sequence="2"/>
        <menuitem name="Products" id="menu_return_machine_product_action" parent="menu_return_machine_product_main" sequence="2" action="action_return_product_machine"/>
        <menuitem name="Repair Parts" id="menu_return_machine_part_product_action" parent="menu_return_machine_product_main" sequence="2" action="action_return_product_machine_parts"/>
        <menuitem name="Repair Diagnosys" id="menu_return_diagnosys_action" parent="menu_return_machine_repair_support" sequence="10" action="action_return_view_task_diagnosis"/>
        <menuitem name="Repair WorkOrders" id="menu_return_workorder_action" parent="menu_return_machine_repair_support" sequence="12" action="action_return_view_task_workorder"/>

        <menuitem name="Configuration" id="menu_return_machine_repair_configuration" parent="main_return_machine_repair_support_main" sequence="100" groups="machine_repair_management.group_machine_repair_manager"/>
        <menuitem name="Services" id="menu_return_item_nature_of_service" parent="menu_return_machine_repair_configuration" action="action_return_nature_of_service"/>

        <menuitem name="Repair Tickets" id="menu_return_item_machine_repair_support" sequence="1" parent="menu_return_machine_repair_support" action="action_return_machine_repair_support"/>
        <menuitem name="Reports" id="menu_return_machine_repair_report" parent="main_return_machine_repair_support_main" groups="machine_repair_management.group_machine_repair_manager"/>
        <menuitem name="Service Types" id="menu_return_item_repair_type" parent="menu_return_machine_repair_configuration" action="action_return_repair_type"/>

        <menuitem name="Repair Teams" id="menu_return_item_machine_support_team" parent="menu_return_machine_repair_configuration" action="action_return_machine_support_team"/>

        <!--Return Orders Menu-->
        <menuitem id="main_menu_return_repair_rma" name="RMA" parent="main_return_machine_repair_support_main" sequence="0"/>
        <menuitem id="sub_menu_return_repair_rma" name="Return Orders" parent="main_menu_return_repair_rma"
            action="action_return_repair_rma"/>
        <menuitem id="website_shop_return_rma.main_menu_return_rma" name="Return Orders" parent="sale.sale_menu_root" sequence="3"/>
        
    </data>
</odoo>