<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
         <menuitem
            id="menu_user_config"
            name="Import Users"
            parent="base.menu_administration"
            sequence="111"
            action="user_import_wizard_action"
            groups="base.group_system"/>
    </data>
</odoo>
