<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="menu_import_employee_image"
            name="Import Employees"
            parent="hr.menu_hr_root"
            action="odoo_import_employee_image.import_employee_template_action"
            sequence="15"
            groups="hr.group_hr_user"/>
    </data>
</odoo>
