
/* Header Styles */
.products_header {
    background-color: #e4e4e4;
    color: rgb(255, 255, 255);
    padding: 20px;
}



.products_header h4 {
    font-size: 24px;
    margin: 0;
}

/* Product Grid Styles */
.o_wsale_product_grid_wrapper {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.o_wsale_product_grid_wrapper img {
    max-width: 100%;
    height: auto;
}

.o_wsale_product_grid_wrapper h4 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

.o_wsale_product_grid_wrapper .oe_currency_value {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
}

/* Hover Effect for Products */
.o_wsale_product_grid_wrapper:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Pagination Styles */
.products_pager {
    margin: 20px 0;
}

/* Product Categories Styles */
.products_categories {
    background-color: #007BFF;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.products_categories a {
    color: #ffffff;
    text-decoration: none;
}

.products_categories a:hover {
    text-decoration: underline;
}

/* "No Results Found" Message Styles */
.alert-warning {
    background-color: #f8d7da;
    color: #af9c0e;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 5px;
}

/* Back Button Styles */
.fa-angle-left {
    color: #007BFF;
    font-size: 18px;
    margin-right: 5px;
}

/* "New" Button Message Styles */
p[groups="sales_team.group_sale_manager"] {
    color: #28a745;
    font-style: italic;
}





