<?xml version="1.0" encoding="utf-8" ?>
<odoo>

	<menuitem id="menu_hr_attribute" action="act_hr_attribute" parent="hr.menu_human_resources_configuration" sequence="5" />
	
	<menuitem id="menu_hr_contract_type" action="act_hr_contract_type" parent="hr.menu_config_employee" sequence="6" />
	
	<menuitem id="menu_hr_attribute_value_root" name="Attribute" parent="hr.menu_hr_root" sequence="4" />
	
	<menuitem id="menu_hr_attribute_value_approval" action="act_hr_attribute_value_approval" parent="menu_hr_attribute_value_root" sequence="10" />
	
	<menuitem id="menu_hr_attribute_value" action="act_hr_attribute_value" parent="menu_hr_attribute_value_root" sequence="20" />

</odoo>