<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem id="main_menu_claim" name="Service" sequence="10"
                  web_icon="service_management,static/description/icon.png"
                  groups="jt_service_management.group_service_admin,jt_service_management.group_service_manager,jt_service_management.group_service_user"/>
        <menuitem id="main_submenu_claim_config" name='Configuration'
                  parent='main_menu_claim' sequence="100" groups="group_service_admin"/>
        <menuitem id="main_submenu_claim" name='Tools' parent='main_submenu_claim_config' sequence="26"
                  groups="group_service_admin,group_service_manager"/>
        <menuitem id="menu_config_claim" name="Service Tickets"
                  groups="base.group_no_one"
                  parent="sale.menu_sale_config" sequence="55"/>
        <menuitem name="Report" id="menu_view_service_parts_report_parent" parent='jt_service_management.main_menu_claim' sequence="60"  groups="jt_service_management.group_service_manager"/>
        <menuitem action="jt_service_management.action_view_service_parts_report" name="Open Tickets SP Gap" id="menu_view_service_parts_report" parent="jt_service_management.menu_view_service_parts_report_parent" sequence="2" groups="jt_service_management.group_service_manager"/>
        <menuitem name="Ticket Pivot" id="ticket_pivot_report_menu"
            parent="jt_service_management.main_submenu_claim" action="jt_service_management.ticket_pivot_report_action" sequence="26"/>
        <menuitem action="jt_service_management.action_service_action_type" name="Action Type"
            id="menu_service_action_type" parent="jt_service_management.main_submenu_claim_config" />
        <menuitem name="Purchase" id="service_po_main"
            parent="jt_service_management.main_menu_claim" action="jt_service_management.serivece_purchase_order" sequence="20" groups="jt_service_management.group_service_manager"/>
        <menuitem name="Service Purchase orders" id="service_po"
            parent="jt_service_management.service_po_main" action="jt_service_management.serivece_purchase_order" sequence="2" groups="jt_service_management.group_service_manager"/>
        <menuitem name="Tickets" id="menu_crm_case_claims"
            parent="jt_service_management.main_menu_claim" action="jt_service_management.crm_claim_category_claim0" sequence="10"/>
        <menuitem name="Sale" id="menu_view_sales_parent" parent='main_menu_claim' sequence="30" groups="group_service_admin"/>
        <menuitem name="Quotations - SC" id="menu_service_quotaion"
            parent="jt_service_management.menu_view_sales_parent" action="jt_service_management.action_service_quation_orders" sequence="1" groups="group_service_admin"/>
        <menuitem name="Sales Orders - SC" id="menu_service_order"
            parent="jt_service_management.menu_view_sales_parent" action="jt_service_management.action_service_sale_orders" sequence="2" groups="group_service_admin"/>
        <menuitem name="Service Center Delivery Orders" id="menu_crm_case_claims_do"
            parent="jt_service_management.menu_view_service_parts_report_parent" groups="jt_service_management.group_service_manager" action="jt_service_management.crm_claim_delivery_orders" sequence="2"/>
        <!-- Claim Stages -->
        <menuitem id="menu_claim_stage_view" name="Stages" action="jt_service_management.crm_claim_stage_act" parent="menu_config_claim"
                  sequence="20"/>
        <menuitem id="main_picking_claim" name='Part Picking List'
                  parent='main_menu_claim' action="jt_service_management.action_picking_tree_all_picking"
                  sequence="40" groups="jt_service_management.group_service_manager"/>
        <menuitem action="jt_service_management.crm_claim_categ_action" name="Categories"
                  id="menu_crm_case_claim-act" parent="main_submenu_claim_config"
                  groups="group_service_admin"/>
        <menuitem id="main_mainmenu_claim_config" name='Service Center'
                  parent='main_submenu_claim_config' action="jt_service_management.action_crm_case_claims_form_config_location"
                  sequence="24"/>
        <menuitem id="menu_spare_parts_valuation" name="Spare Parts Location"
                  parent="main_submenu_claim_config"
                  sequence="5" groups="jt_service_management.group_service_manager" />
        <menuitem id="menu_spare_parts_valuation_child" name="Location"
                  parent="menu_spare_parts_valuation" action="jt_service_management.action_spart_part_valuation"
                  sequence="5" groups="jt_service_management.group_service_manager" />
        <menuitem action="jt_service_management.action_current_inventory_view" id="menu_current_inventory_view"
            parent="stock.menu_stock_warehouse_mgmt" sequence="3"
            groups="stock.group_stock_manager"/>
        <menuitem name="Product" id="menu_service_product_view"
            parent="jt_service_management.main_menu_claim" sequence="50"/>
        <menuitem action="jt_service_management.action_current_inventory_view" id="menu_current_inventory_view_for_service" groups="jt_service_management.group_service_manager" parent="jt_service_management.menu_service_product_view" sequence="3" />
        <menuitem action="jt_service_management.action_current_spare_part_list_view" id="menu_spare_part_list"
            parent="jt_service_management.menu_service_product_view" sequence="4"/>
        <menuitem action="jt_service_management.product_brand_action"
                  id="menu_product_brand"
                  parent='main_submenu_claim_config' sequence="3"/>
        <menuitem id="import_tickets_config" name='Import Tickets'
            parent='jt_service_management.main_submenu_claim' action="jt_service_management.action_import_tickets"
            sequence="15" />
        <menuitem name="Print Report" parent="jt_service_management.menu_view_service_parts_report_parent"
            id="print_pdf_report_menu_parent" 
            sequence="25"  groups="jt_service_management.group_service_manager"/>
        <menuitem name="Receipt/Delivery" parent="jt_service_management.print_pdf_report_menu_parent"
            id="print_pdf_report_menu" 
            sequence="25"  groups="jt_service_management.group_service_manager"  action="jt_service_management.action_print_pdf_wizard"/>
        <menuitem name="Service Requests for Quotation" id="service_po_rfq"
            parent="jt_service_management.service_po_main" action="serivece_purchase_rfq" sequence="1" groups="jt_service_management.group_service_manager"/>
    </data>
</odoo>