.quick_search_form {
    padding-top: 10px;
}
.quick_search ~ .o_list_renderer {
    height: auto;
}
.quick_search .form-control {
    height: auto;
    padding: 2px;
}
.quick_search select.form-control {
    background-position-x: calc(100% - 10px);
}
.quick_search .quick_search_form .quick_search_field {
    padding-bottom: 10px;
}
.quick_search .quick_search_between .col-6:nth-child(1) {
    padding: 0;
    padding-left: 15px;
    padding-right: 5px;
}
.quick_search .quick_search_between .col-6:nth-child(2) {
    padding: 0;
    padding-left: 5px;
    padding-right: 15px;
}
.quick_search .quick_search_datetime .o_datepicker_input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.quick_search .quick_search_datetime .o_datepicker_button {
    right: 10px;
}
.quick_search .quick_search_date .o_datetime_input {
    border-radius: 0.25rem;
    border-width: 1px;
    padding: 2px;
}
@media (min-width: 1200px) {
    .quick_search .col-xl-auto {
        flex: 1 0 auto;
    }
}